*{
    margin:0;
    padding:0;
}
html,body{
    background: #13191c;
    height:100%;
    width:100%;
}
body{
    background: #13191c;
    display:flex;
    justify-content: center;
    align-items: center;
}
#gameArea{
    display:grid;
    grid:auto-flow/repeat(2,1fr);
}
#board{
    width:100vw;
}
#completeGradient{
    position: absolute;
    z-index: 998;
    top:0;
    width:100%;
    height:100%;
    display:flex;
    justify-content: center;
    align-items: center;
}
#doneScreenCont{
    z-index: 999;
    width:20%;
    color:white;
    font-family: sans-serif;
    padding:2rem;
    border-radius: 1rem;
    background: #13191c8e;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 4px 4px 30px #00000030;
}
#doneText{
    text-align: center;
}
#puzzle{
    margin:.5rem 0 1.5rem 0;
}
#score{
    display:flex;
    justify-content: space-around;
}
#score p{
    font-size: 1.25rem;
    margin: .5rem 0;
}

#stats{
    border-top:1px solid white;
    margin:1rem;
    padding-top:1rem;
    font-size: 1.2rem;
}
#streakData{
    margin-top:.5rem;
    display: flex;
    justify-content: center;
    gap:3rem;
}
#countDown{
    margin-top:.5rem;
    font-size: 1.2rem !important;
}
#shareCont{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin:1.5rem 0 2rem 0;
    width:100%;
}
#shareCont>button{
    background:white;
    border-radius: .5rem;
    border:none;
    color:#101018;
    height: 2.5rem;
    width:5rem;
    font-size:1.5rem;
    cursor: pointer;
}
#copyMsg{
    font-size: 1rem !important;
    width:0;
    display:none;
    transition: 1s;
}
#footer{
    position:relative;
    width:100%;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: .5rem;
    width:100%;
}
#footer button{
    display:flex;
    align-items: center;
    justify-content: center;
    border:none;
    background:none;
    cursor:pointer;
    width:66%;
    border-radius:10px;
    transition: .25s;
    -webkit-tap-highlight-color: transparent;
}
#footer button:hover{
    background:#FF5E5B;
}
#footer button:focus{
    outline:none !important;
    user-select: none;
}
#footer button img{
    width:25%;
    margin:.5rem;
}
#footer button p{
    color:white;
    cursor:pointer;
    font-weight: 1000;
}
#supportCont{
    display:flex;
    width:100%;
    align-items: center;
    justify-content: center;
}
#footer p{
    font-size: 1rem;
    cursor: default;
}
#refresh{
    position: absolute;
    top:.5rem;
    left:.5rem;
    cursor: pointer;
    width:3rem;
}
#turnCount{
    color:white;
    position: absolute;
    cursor: auto;
    font-size: 2rem;
    font-family: sans-serif;
    top:.5rem;
    left:50%;
    user-select: none;
    transform: translate(-50%);
    z-index: 100;
}
#helpScreenCont{
    position: absolute;
    z-index: 1000;
    top:0;
    width:100%;
    height:100%;
    background: #13191c8e;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display:none;
    color:white;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
}
#helpText{
    width:80%;
    text-align: center;
    cursor:default;
}
.helpItem{
    text-align: justify;
    max-width:350px;
    margin: auto;
    margin-top: .5rem;
    font-size: 1.2rem;
}
#scoreHelp{
    margin-top: 1rem;
    font-size: 1.2rem;
}
#emojiTable{
    margin-top: 1.5rem;
    display: flex;
    justify-content: space-between;
    text-align: left;
}
#emojiTable h3{
    text-align: center;
}
#helpToggleCont{
    position: absolute;
    top:.5rem;
    right:.5rem;
    z-index: 999;
    background: #13191c8e;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 4px 4px 30px #00000030;
    border-radius: 100%;
    width: 2.5em;
    height:2.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
#helpToggle{
    color:white;
    user-select: none;
    font-family: sans-serif;
    font-size: 2rem;
    cursor: pointer;
}
#closeHelp{
    position: relative;
    text-align: right;
    top:1rem;
    font-size: 2rem;
    user-select: none;
    cursor: pointer;
}
.colourCont > div{
    height:3rem;
    width:40%;
    min-width:10rem;
    border-radius: 10px;
    margin:1% auto;
    left:0;
    transition: .5s;
    -webkit-tap-highlight-color: transparent;
}
#toDo .correct{
    opacity: 0;
}
#userG .correct{
    cursor: auto !important; 
    width: 35%;
    min-width:5rem;
}
#selected{
    position: relative;
    z-index: 1000;
    width:50%;
    left:0;
    box-shadow: 0rem 0rem 1rem #000;
}
#userG > div{
    cursor: pointer;
}

@media screen and (max-width:1000px) {
    #board{
        display:flex;
        justify-content: center;
    }
    #doneScreenCont{
        width:70%;
        padding:.75rem 2rem;
    }
    #toDo{
        display:flex;
        flex-direction: column;
    }
    #toDo > div{
        border-radius: 10px 0 0 10px;
        border-right:1px white solid !important;
        box-sizing: border-box;
    }
    #userG{
        display: flex;
        flex-direction: column;
        width:100%;
    }
    #userG > div{
        border-radius: 0 10px 10px 0;
        box-sizing: border-box;
    }
    #selected{
        width:40%;
        left:-1rem;
        box-shadow: 0rem 0rem 1rem #000;
    }
    #userG .correct{
        position:relative;
        left:-2.5rem;
        width:1px;
    }
    
}